<h1>headmaster</h1>
<h3><%= link_to "Add New Standard", new_standard_path %></h3>
<h3><%=link_to "New Classroom", new_classroom_path%></h3>
<h3><%=link_to "New Teacher", new_teacher_path%></h3>
<h3><%=link_to "New Student", new_student_path%></h3>