<h3><%=link_to "Home", welcomes_index_path%></h3>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>IsPresent</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%@attendances.each do |attendance|%>
    <tr>
      <td><%=student_full_name attendance.student%></td>
      <td><%=attendance.is_present%></td>
      <td><%=link_to "Edit", edit_attendance_path(attendance)%></td>
    </tr>
    <%end%>
  </tbody>
</table>